<template>
  <div>
    <h1> {{title}} </h1>
    <v-layout>
      <v-flex xs12 sm6 offset-sm3>
        <v-card v-for="(req,index) in userProfile.requests">
          <v-spacer></v-spacer>

          <v-img
            class="white--text"
            height="200px"
            :src="`https://picsum.photos/500/300?image=${index+545}`"
          >
            <v-container fill-height fluid>
              <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                  <span class="headline">{{req.title1}}</span>
                </v-flex>
              </v-layout>
            </v-container>
          </v-img>
          <v-card-title>
            <div>
              <span class="grey--text">{{req.description}}</span><br>
              <span>{{req.title2}}</span><br>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat color="red">Cancel</v-btn>
            <v-btn flat color="green">Details</v-btn>
          </v-card-actions>

        </v-card>

      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  export default {
    name: 'RequestComponent',
    data () {
      return {
        userProfile: {},
        title: 'My Requests'
      }
    },
    created () {
      let url = 'http://192.168.1.101:8080/user/profile/testuser'
      this.axios.get(url).then((response) => {
        this.userProfile = response.data
      })
    }
  }
</script>

<style scoped>

</style>
