<template>
  <div>
    <h1> {{title}} </h1>
    <v-layout>
      <v-flex xs12 sm6 offset-sm3>
        <v-card v-for="workshop in workshops">

          <v-img
            class="white--text"
            height="200px"
            :src="`https://picsum.photos/500/300?image=${Math.ceil(Math.random()*20)}`"
          >
            <v-container fill-height fluid>
              <v-layout fill-height>
                <v-flex xs12 align-end flexbox>
                  <span class="headline">{{workshop.name}}</span>
                </v-flex>
              </v-layout>
            </v-container>
          </v-img>

          <v-card-title>
            <div>
              <span class="grey--text">{{workshop.date}}</span><br>
            </div>
          </v-card-title>

          <v-card-actions>
            <v-btn flat color="green">Register</v-btn>
            <v-btn flat color="green">Info</v-btn>
          </v-card-actions>

        </v-card>

      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  export default {
    name: 'WorkshopComponents',
    data () {
      return {
        workshops: {},
        title: 'Workshops'
      }
    },
    created () {
      let url = 'http://192.168.1.101:8080/workshops/all'
      this.axios.get(url).then((response) => {
        this.workshops = response.data
      })
    }
  }
</script>

<style scoped>

</style>
