<template>
  <v-app>
    <div class="text-xs-left">
      <v-btn @click.stop="drawer = !drawer">
        <v-icon dark>list</v-icon>
      </v-btn>
    </div>

    <v-navigation-drawer
      app
      absolute
      v-model="drawer"
      @click="drawer = !drawer"

    >
      <v-toolbar flat>
        <v-list class="pa-0">
          <v-list-tile avatar>
            <v-list-tile-avatar>
              <img src="https://randomuser.me/api/portraits/men/85.jpg">
            </v-list-tile-avatar>

            <v-list-tile-content>
              <v-list-tile-title>{{userProfile.firstName}} {{userProfile.lastName}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>

      <v-divider></v-divider>

      <v-list dense class="pt-0">
        <v-list-tile
          v-for="item in items"
          :key="item.title"
          :to="{path: item.path}"
          @click=""
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <v-container fluid>
        <router-view>
        </router-view>
      </v-container>
    </v-content>

    <v-footer app></v-footer>
  </v-app>
</template>

<script>

  export default {
    name: 'App',
    components: {},
    data () {
      return {
        drawer: null,
        items: [
          {title: 'My Requests', icon: 'dashboard', path: '/'},
          {title: 'My Offers', icon: 'dashboard', path: '/offers'},
          {title: 'Workshops', icon: 'dashboard', path: '/workshop'},
          {title: 'All Requests', icon: 'dashboard', path: '/allReqs'},
          {title: 'All Offers', icon: 'dashboard', path: '/allReqs'},
          {title: 'Search', icon: 'search', path: '/search'}
        ],
        right: null,
        userProfile: {}
      }
    },
    created () {
      let url = 'http://192.168.1.101:8080/user/profile/testuser'
      this.axios.get(url).then((response) => {
        this.userProfile = response.data
      })
    }
  }
</script>
